@font-face {
    font-family: "FuturaBoldItalic";
    src: url("./font/futura/Futura Bold Italic font.ttf");
}
@font-face {
    font-family: "Inter";
    src: url("./font/Inter/Inter-Regular.ttf");
}
@font-face {
    font-family: "Inter-Bold";
    src: url("./font/Inter/Inter-Bold.ttf");
}

.menuText {
    font-family: "FuturaBoldItalic";
    font-size: 63px;
    position:absolute;
    left: 91px;
    color: #000000;
    animation-duration: 0.05s;
    animation-fill-mode: forwards;
    transition: transform 0.3s ease;
    cursor: pointer;
}
.menuText:hover {
    transform: scale(1.1);
}

.topbar {
    position: absolute;
    z-index: 1;
    animation-duration: 0.05s;
    animation-fill-mode: forwards;
}

.timerText {
    font-family: "FuturaBoldItalic";
    font-size: 27px;
    position:absolute;
    color: #ffffff;
    opacity: 0.75;
}

.topbarButtons {
    position: absolute;
    z-index: 1;
    animation-duration: 0.05s;
    animation-fill-mode: forwards;
    transition: transform 0.3s ease;
    cursor: pointer;
}
.topbarButtons:hover {
    transform: scale(1.1);
}

.barText {
    font-family: "FuturaBoldItalic";
    font-size: 26px;
    position: absolute;
    color: #F4FAF8;
    z-index: 2;
}

.home {
    position: absolute;
    font-family: "FuturaBoldItalic";
    font-size: 35px;
    z-index: 1;
}

.leave {
    position: absolute;
    font-family: "FuturaBoldItalic";
    z-index: 1;
}

.leaveOption {
    position: absolute;
    font-family: "FuturaBoldItalic";
    z-index: 2;
    animation-duration: 0.05s;
    animation-fill-mode: forwards;
    transition: transform 0.3s ease;
}
.leaveOption:hover {
    transform: scale(1.1);
}

.map {
    position: absolute;
    border-radius:50px;
}

.logintext {
    font-family: Inter-Bold;
    font-size: 20px;
}
.using {
    font-family: Inter-Bold;
    font-size: 20px;
}

input[type="text"] {
    font-family: Inter-Bold;
    font-size: 20px;
    background: transparent;
    border: none;
    outline: none;
    opacity: 0.5;
}

input[type="password"] {
    font-family: Inter-Bold;
    font-size: 20px;
    background: transparent;
    border: none;
    outline: none;
    opacity: 0.5;
}
.difficultyOption {
    position: absolute;
    font-family: "FuturaBoldItalic";
    z-index: 2;
    animation-duration: 0.05s;
    animation-fill-mode: forwards;
    transition: transform 0.3s ease;
    cursor: pointer;
}
.difficultyOption:hover {
    transform: scale(1.1);
}